@property --knob-angle {
    syntax: "<number>";
    inherits: true;
    initial-value: 180,
}
:host {
    text-align: center;
    cursor: ns-resize;
    --color: oklch(1 0.5 230); --dark: color-mix(in oklch,var(--color) 40%,black);
    display: inline-grid; grid-template: 'title' auto 'knob' 4em 'void' .2em / 4em; gap: .1em 0;
    touch-action: none; user-select: none; -webkit-user-select: none; -webkit-user-drag: none;
}
:host(.animate) {transition: --knob-angle .5s !important;}
:host([title])::before,::slotted(*) {
    line-height: 1.1;
    grid-area: title;
    content: attr(title);
}
output,svg,link,::slotted(:is(i,.center)) {
    grid-area: knob;
    pointer-events: none;
    overflow: visible;
}
::slotted(:is(i,.center)) {
    place-self: center; 
    z-index: 1;
}
output:has(~svg)::before,:host>input {display: none;}

:host(.discrete) {--discrete-void: calc((360 - var(--min) * 2) / var(--count-1));}
circle { /*2px=100%*/
    fill: none;
    --r: calc((1 - var(--track,7.5) / 50 / 2) * 1px); r: var(--r); 
    --start: var(--min);
    --sector-angle: calc(clamp(0, var(--knob-angle) - var(--start), 360 - var(--start) * 2)); /*colored*/
    stroke-width: calc(var(--track,7.5) / 50); stroke-linecap: round;
    stroke-dashoffset: calc((90 + var(--start)) / -1);
    stroke-dasharray: var(--sector-angle) calc((360 - var(--sector-angle)));
    
    &#track {
        stroke: var(--dark);
        --knob-angle: calc(360 - var(--start));

        :host(.discrete) & {
            --sector-angle: var(--discrete-void); 
        }
    }
    &#fill {
        stroke: var(--color); 
        filter: drop-shadow(0 0 calc(var(--glow,4)/100*2px) var(--color));
    
        :host(.symmetric) & {
            --sector-angle: calc(min(abs(var(--knob-angle) - 180), 180 - var(--min))); /*colored*/
            --start: 180;
        } 
        :host(.negative) & {transform: scaleX(-1);}
        :host(.discrete) & {
            --sector-angle: 0; 
            --discrete-angle: round(var(--knob-angle) - var(--start), var(--discrete-void));
            stroke-dashoffset: calc((90 + var(--discrete-angle) + var(--start)) / -1);
        }
    }
}
link::before,output::before { /*4em=100%*/
    content: '';
    border-radius: 9em;
    position: absolute; inset: 0;
    transform: scale(-1);
    border: calc(var(--track,7.5)/100*4em/var(--f,1)) solid var(--color);
    --min-deg: calc(var(--min) * 1deg); 
    mask: var(--mask, conic-gradient(
        transparent var(--min-deg), black var(--min-deg) var(--max-deg), transparent var(--max-deg)
    ));
}
link { /*4em=100% filter above mask*/ 
    position: relative;
    filter: drop-shadow(0 0 calc(var(--glow,4)/100*4em) var(--color));
    --max-deg: calc(var(--knob-angle) * 1deg);

    :host(.symmetric) &::before {
        mask: conic-gradient(
            transparent min(var(--max-deg),180deg),
            black min(var(--max-deg),180deg) max(180deg,var(--max-deg)),
            transparent max(180deg,var(--max-deg))
        );
    }
    :host(.discrete) &::before {
        --max-deg: calc(round(var(--knob-angle), var(--discrete-void)) * 1deg);
        mask: var(--mask, conic-gradient(
            transparent calc(var(--max-deg) - 2deg),
            black calc(var(--max-deg) - 2deg) calc(var(--max-deg) + 2deg),
            transparent calc(var(--max-deg) + 2deg)
        ));
    }
}
output { /*no glow*/
    position: relative;
    --f: .8; font-size: calc(1em*var(--f)); line-height: 0;
    display: flex; align-items: end; justify-content: center;

    &::before {
        --max-deg: calc(360deg - var(--min-deg));
        --color: var(--dark);
    }
    :host(.discrete) &::before {
        mask: repeating-conic-gradient(
            from calc(var(--min-deg) - 2deg),
            black 0deg 4deg,
            transparent 4deg calc(var(--discrete-void)*1deg)
        ), conic-gradient(
            transparent calc(var(--min-deg) - 2deg),
            black calc(var(--min-deg) - 2deg) calc(var(--max-deg) + 2deg),
            transparent calc(var(--max-deg) + 2deg)
        );
        mask-composite: intersect;
    }
    &::after {
        position: absolute; inset: calc(50% - var(--knob,65)*.5%);
        border-radius: 9em; background: var(--dark);
        content: '·'; font-family: Arial, Helvetica, sans-serif; 
        font-size: 1.5em; line-height: .4;
        color: var(--color); text-shadow: 0 0 .1em var(--color);
        box-shadow: 0 0 .4em rgba(0,0,0,.5);
        transform: scaleY(-1) rotate(calc(var(--knob-angle)*-1deg));
    }
    input {
        width: 50%;
        text-align: center;
        appearance: none; border: none; outline: none;
        padding: 0 .1em;
        transform: translateY(.6em);
    }
    input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}