<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>diamond-grid</title>
<script type="module" src="../diamond-grid.mjs"></script>
<style>
    diamond-grid {--side:20em;--gap:1em;}
    diamond-grid div {background:yellow;display:block;}
    textarea {width:100%;height:40em;}
</style>
<diamond-grid style="opacity: 0;">
    <div>owairejg stoirj oer jioaej to ragsjgwag  aw oreitsrjhpeawj pr  PWT JGPAETIJIPSRHA JEP </div>
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <img src="../image/demo1.png">
    <div>11</div>
    <div>12</div>
    <div>13</div>
    <div>14</div>
    <div>15</div>
    <div>16</div>
    <div>17</div>
    <div>18</div>
    <div>19</div>
    <div>20</div>
</diamond-grid>
